.plugin-hello {
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 10px;
    color: white;
}

.night {
    background-color: mediumpurple;
}

.day {
    background-color: yellowgreen;
}